<h1>{{title}}</h1>
<h5><strong>Refugee risk data comparison</strong></h5>

<div class="row">
    <div class="chart-container">
        <canvas id="chart" width="900" height="300"></canvas>
    </div>
</div>

<div class="row">
    <div class="table-container">
        <table class="table u-full-width">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Risk score</th>
                </tr>
            </thead>
            <tbody id="migration-table-body">
                {{#idpScores}}
                <tr class="migration-table-entry">

                    <td>{{ this.name }}</td>
                    <td>
                        {{#if noData}}
                        <em>no data</em>
                        {{else}}
                        {{ this.score }}
                        {{/if}}
                    </td>
                </tr>

                {{/idpScores}}
            </tbody>
        </table>
    </div>
</div>
