<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{{body}}}
</body>

<footer>
    <p>Data from the UN and The World Bank.</p>
    <p>Created by <a href="https://twitter.com/djmckee" target="_blank">Dylan McKee</a>, <a href="https://twitter.com/alex_birch1" target="_blank">Alex Birch</a> &amp; <a href="https://twitter.com/im_nic" target="_blank">Nic Flynn</a>.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<script src='/javascripts/main.js'></script>

</html>
